{% extends "base_generic.html" %}

{% block content %}
  <h2>list of all doctors</h2>

  {% if object_list %}
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>specialty</th>
        </tr>
      </thead>
      <tbody>
        {% for doctor in object_list %}
          <tr>
            <td>{{ doctor.user__full_name }}</td>
            <td>{{ doctor.specialty__spec_name }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="2">is empty</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>is empty</p>
  {% endif %}

  <a href="{% url 'doctor_search' %}">search</a>
{% endblock %}